@import 'variables.scss';

.carousel-caption{
  color: #000!important;
  font-size: $margin*3!important;
  @media (max-width: $breakpoint_sm) {
    font-size: $margin*2!important;
    padding-bottom: $padding!important;
  }
}
